.container {
	font-family: "YouYuan";
	color: #333;
	padding-bottom: env(safe-area-inset-bottom);
	padding-bottom: constant(safe-area-inset-bottom);

	.bigtitle {
		font-size: 30rpx;
		padding-bottom: 30rpx;
	}

	.circle {
		background-color: white;
		box-shadow: 0px 0px 5px 5px #46647d;
		width: 220rpx;
		height: 220rpx;
		border-radius: 200rpx;
		line-height: 220rpx;
		text-align: center;
		font-size: 40rpx;
		letter-spacing: 2rpx;
		color: #46647d;
	}

	.icon {
		width: 105rpx;
		height: 116rpx;
		display: block;
	}

	.heartbpsIcon {
		width: 40rpx;
		height: 48rpx;
	}

	.icon-risk {
		width: 50rpx;
		height: 45rpx;
		display: block;
	}

	.icon-age {
		width: 42rpx;
		height: 43rpx;
		display: block;
	}

	.icon-add {
		width: 45rpx;
		height: 48rpx;
		display: block;
	}

	.icon-ai {
		width: 49rpx;
		height: 58rpx;
		display: block;
	}

	.icon-title {
		padding-left: 10rpx;
		font-size: 35rpx;
	}

	.subtitle {
		line-height: 116rpx;
		font-size: 35rpx;
	}

	.heartIcon {
		width: 50rpx;
		height: 45rpx;
	}

	.hearto2Icon {
		width: 45rpx;
		height: 46rpx;
	}

	.heartbreakIcon {
		width: 50rpx;
		height: 45rpx;
	}

	.heartafIcon {
		width: 58rpx;
		height: 39rpx;
	}

	.heartbpppIcon {
		width: 52rpx;
		height: 48rpx;
	}

	.heartpressIcon {
		width: 53rpx;
		height: 42rpx;
	}

	.heartriskIcon {
		width: 48rpx;
		height: 50rpx;
	}

	.desc-ccc {
		background-color: #249631;
		border-radius: 15rpx;
		color: white;
		display: block;
		padding: 10rpx;
		width: fit-content;
	}

	.desc {
		font-size: 28rpx;
		line-height: 35rpx;
		text-indent: 60rpx;
		text-align: justify;

		color: #616169;
	}

	.border {
		background-color: white;
		margin: 30rpx;
		padding: 30rpx;
		border-radius: 20rpx;
		box-shadow: 0px 0px 5px 5px #eee;
	}

	.border-line {
		border-bottom: #f5f5f5 solid 1px;
		margin-top: 10rpx;
		margin-bottom: 10rpx;
	}

	.morebtn {
		display: flex;
		justify-content: flex-end;
		text-decoration: underline;
		color: #46647d;
		font-size: 25rpx;
		text-underline-offset: 5rpx;
		margin: 20rpx;
	}
}

.result{
	border-top-left-radius: 55rpx;
	border-top-right-radius: 55rpx;
	transform: translateY(-40rpx);
	background-color: white;
}


.tab {
	padding-top: 18rpx;
	background-color: #547896;

	.tabitem {
		text-align: center;
		padding-bottom: 10rpx;
		padding-top: 10rpx;
		height: 88rpx;
		color: #333;
		background-color: #6186a5;
		border-top-right-radius: 36rpx;
		border-top-left-radius: 36rpx;
		line-height: 68rpx;
		font-size: 28rpx;
		width: 260rpx;
		margin-top: 10rpx;
	}

	.timestamp {
		color: #547896;
		font-size: 22rpx;
		line-height: 30rpx;
		padding-top: 10rpx;
		font-family: Arial, Helvetica, sans-serif;
	}

	.active {
		// font-weight: bold;
		color: #616169;
		// margin-top: 0rpx;
		// padding-top: 10rpx;
		line-height: 36rpx;
		background-color: white;
		height: 98rpx;
		margin-top: 0rpx;
		// border-bottom: solid 1rpx skyblue;
	}
}

.progress-container {
	width: 100%;
	height: 25rpx;
	color: #333;
	position: relative;
	margin-top: 30rpx;
	margin-bottom: 30rpx;
	padding-top: 30rpx;
	padding-bottom: 30rpx;

	.tick {
		position: relative;
		padding-top: 10rpx;
		padding-bottom: 10rpx;
		font-family: 'YouYuan';

		.tick-item {
			position: absolute;
		}
	}

	.progress-bar {
		height: 100%;
		border-radius: 30rpx;
		background-color: #eee;
		overflow: hidden;
		position: relative;

		.progress-layer {
			height: 100%;
		}

		.first {
			width: 60%;
			background-color: rgb(124, 196, 200);
		}

		.second {
			width: 10%;
			background-color: rgb(172, 234, 111);
		}

		.third {
			width: 10%;
			background-color: rgb(226, 201, 62);
		}

		.forth {
			width: 10%;
			background-color: rgb(242, 179, 41);
		}


		.fifth {
			width: 10%;
			background-color: rgb(242, 111, 41);
		}
	}
}